@import url('https://fonts.googleapis.com/css?family=News+Cycle|Righteous&display=swap');

.ourStoryComponent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 233, 177);
    height: 115vh;
}

.ourStoryPic {
    height: 30em;
    width: 30em;
    border-radius: 20em;
}

.ourStoryContainer {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    margin-top: 25vh;

}

.ourStoryText {
    font-size: 1.5em;
    width: 60%;
    padding: 1.5em 1.5em 1.5em 1.5em;
    border-radius: 1em;
    font-family: 'News Cycle', sans-serif;
}

.ourStoryTextContainer {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

h1 {
    font-family: 'Righteous', cursive;
}