@import url('https://fonts.googleapis.com/css?family=News+Cycle|Righteous&display=swap');

.weddingInfoComponent {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background-color: rgb(251, 228, 252);
        height: 90vh;
}

.weddingInfoTextComponent {
    margin-top: 90vh;
}

.weddingInfoPic {
    height: 30em;
    width: 30em;
    border-radius: 20em;
}

.weddingInfoText {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;

}

  .mapLink {
      color: blue;
  }

  .weddingInfoTitle {
    font-family: 'Righteous', cursive;
    font-size: 2.4em;
  }

h4 {
    font-family: 'News Cycle', sans-serif;
}

