body {
  min-height: 1000px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  -webkit-backgound-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	width: 100%;
}